{% extends "backend/base.html.twig" %}

{% block body %}
<link rel="stylesheet" href="css/templateDesign/requestList.css">
<link rel="stylesheet" href="css/templateDesign/button.css">
<link rel="stylesheet" href="css/templateDesign/polymerMessage.css">
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<div class="animated shake information message">
  <h2>メンバー編集</h2>
  <p>このページで編集したメンバーの情報が観覧ページ側に反映されます。</p>
</div>

<div class="container-fluid">
  <div id="container" class="col-md-8 col-md-offset-2">
    <div class="buttons">
        <button class="grid"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></button>
        <button class="table-hover"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
    </div>
    {# 既に自分の情報を追加している場合は表示しない #}
    {% if isCreated == false %}
      <a data-remodal-target="createMemberModal" style="float:right"><button class="plus">追加</button></a>
    {% endif %}
    {% include ('popup/member/create.twig') %}

    <table class="table table-hover" id="oi">
      <thead>
        <tr>
          <th></th>
          <th style="min-width: 100px;">おなまえ</th>
          <th style="min-width: 120px;">れんらくさき</th>
          <th style="min-width: 150px;">あそんでるげーむ</th>
          <th>じこしょうかい</th>
          <th width="154px">ぼたん</th>
        </tr>
      </thead>
      <tbody>
        {% for member in members %}
          <tr>
            {% if member.role == '1' %}
              <td>☆</td>
            {% else %}
              <td></td>
            {% endif %}
            <td>{{member.name}}</td>
            <td>{{member.contact}}</td>
            <td>{{member.playing_games}}</td>
            <td>{{member.introduction}}</td>
            <td>
              {% if loginUser.role == 1 %}
                {# 編集対象とするメンバーの情報をポップアップで表示させるために、indexを元にidを動的に生成している #}
                {# TODO：この方法だとメンバーの数だけテンプレートを読み込んでるからなんとかしたい #}
                <a data-remodal-target="editMemberModal{{loop.index0}}"><button class="plus">編集</button></a>
                {% include ('popup/member/edit.twig') %}
                <a data-remodal-target="deleteMemberModal{{loop.index0}}"><button class="plus">削除</button></a>
                {% include ('popup/member/delete.twig') %}
              {% else %}
                {# マスターじゃない場合、自分で登録した情報しか編集・削除できない #}
                {% if member.user_id == loginUser.id %}
                  <a data-remodal-target="editMemberModal{{loop.index0}}"><button class="plus">編集</button></a>
                  {% include ('popup/member/edit.twig') %}
                  <a data-remodal-target="deleteMemberModal{{loop.index0}}"><button class="plus">削除</button></a>
                  {% include ('popup/member/delete.twig') %}
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <ul class="grid hide">
      {% for member in members %}
        <li>
          <div class="img-circle"></div><h3>{{member.name}}</h3>
          <a data-remodal-target="editMemberModal{{loop.index0}}"><button class="plus">編集</button></a>
          {% include ('popup/member/edit.twig') %}
          <a data-remodal-target="deleteMemberModal{{loop.index0}}"><button class="plus">削除</button></a>
          {% include ('popup/member/delete.twig') %}
        </li>
      {% endfor %}
     </ul>
  </div>
</div>

  <script>
    $(document).ready( function(){
      var inst = $('[data-remodal-id=createMemberModal]').remodal();
      {# メンバー登録時にエラーが発生した場合は、画面読み込み時に自動でポップアップを表示 #}
      {% if isErrer is defined and isErrer == true %}
        inst.open();
      {% endif %}
    });

    $('button').on('click',function(e) {
      if ($(this).hasClass('grid')) {
        $('#container ul').removeClass('hide');
        $('#container table').addClass('hide');
      } else if ($(this).hasClass('table-hover')) {
        $('#container table').removeClass('hide');
        $('#container ul').addClass('hide');
      }
    });
  </script>
{% endblock %}
